extends ../layout/index
include ../utils/mixins.pug

block variables
  - var title = "Главная";
  - var description = "";
  - var socialList = ["1.jpg","2.jpg","3.jpg","4.jpg","1.jpg","2.jpg","3.jpg","4.jpg", "1.jpg","2.jpg","3.jpg","4.jpg","1.jpg","2.jpg","3.jpg","4.jpg","1.jpg","2.jpg","3.jpg","4.jpg", "1.jpg","2.jpg","3.jpg","4.jpg"];

block content
  - var n = 0;
  include ../../mocks/flower.pug

  //- HERO-IMAGE
  section.main__hero.hero-image#hero-image
    .hero-image__container

      //- Swiper TOP
      .hero-image__slider.main-slider.swiper-container
          .swiper-wrapper.main-slider-wrapper
            each flower in flowers
              .swiper-slide.main-slider__slide
                .main-slider__information-block
                  p.main-slider__id Артикул: #{flower.id}
                  
                  h2.main-slider__title Букет #{flower.title}

                  p.main-slider__price 
                    each size in flower.sizes
                      if (size.size === "M")
                        span.main-slider__old-price #{size.price.oldPrice ? `${size.price.oldPrice} ₽` : ``}
                        span.main-slider__new-price #{size.price.currentPrice ? `${size.price.currentPrice} ₽` : ``}


                  p.main-slider__additional-information.main-slider__additional-information--flower-icon 
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="20" cy="20" r="19.5" stroke="#7573F3"/>
                      <path d="M21.388 9.82308L21.4242 9.80863V8L19.775 9.04632L20.4275 9.30733C20.766 9.44269 21.0882 9.6157 21.388 9.82308Z" fill="#7573F3"/>
                      <path d="M19.6807 10.506L20.3828 10.2252C20.293 10.1812 20.2023 10.1395 20.1094 10.1021L17.4852 9.05253V12.2529C18.0288 11.4669 18.7927 10.8591 19.6807 10.506Z" fill="#7573F3"/>
                      <path d="M22.1603 26.6879C21.5259 27.1818 20.9614 27.7596 20.4823 28.4053V18.3661C20.8368 18.409 21.17 18.5586 21.4375 18.795C21.7051 19.0314 21.8946 19.3436 21.9808 19.6901C21.9939 19.7453 22.0177 19.7973 22.051 19.8432C22.0843 19.8891 22.1264 19.9279 22.1748 19.9574C22.2233 19.9869 22.2771 20.0065 22.3331 20.015C22.3892 20.0235 22.4463 20.0208 22.5014 20.0071C22.5564 19.9933 22.6081 19.9688 22.6535 19.9349C22.699 19.901 22.7372 19.8584 22.7661 19.8096C22.7949 19.7608 22.8138 19.7067 22.8216 19.6506C22.8294 19.5944 22.826 19.5373 22.8115 19.4825C22.6832 18.9672 22.4012 18.5032 22.0029 18.152C22.6643 17.9105 23.2314 17.4642 23.6215 16.878C23.6837 16.7835 23.7061 16.6682 23.6836 16.5573C23.6611 16.4464 23.5956 16.3489 23.5015 16.2861C23.4074 16.2234 23.2922 16.2004 23.1812 16.2223C23.0702 16.2442 22.9723 16.3091 22.909 16.4029C22.6851 16.7397 22.3812 17.0159 22.0246 17.2067C21.668 17.3976 21.2697 17.4972 20.8653 17.4967C20.807 17.4967 20.7493 17.5086 20.6958 17.5317C20.6692 17.5274 20.6424 17.5234 20.6155 17.5198C21.1847 17.3916 21.6935 17.0737 22.0583 16.6183C22.4231 16.1629 22.6222 15.597 22.623 15.0135V10.2513L19.9989 11.301C19.2554 11.5956 18.6179 12.1074 18.1695 12.7696C17.7212 13.4318 17.4828 14.2138 17.4854 15.0135C17.4862 15.597 17.6853 16.1629 18.0501 16.6183C18.4148 17.0737 18.9236 17.3916 19.4928 17.5198C19.4659 17.5234 19.4392 17.5274 19.4125 17.5317C19.359 17.5086 19.3013 17.4967 19.243 17.4967C18.8386 17.4972 18.4403 17.3976 18.0837 17.2067C17.7271 17.0159 17.4232 16.7397 17.1993 16.4029C17.1682 16.3558 17.1282 16.3153 17.0814 16.2838C17.0347 16.2522 16.9821 16.2302 16.9268 16.219C16.8715 16.2077 16.8146 16.2076 16.7592 16.2185C16.7039 16.2293 16.6512 16.251 16.6043 16.2823C16.5573 16.3136 16.517 16.3539 16.4857 16.4008C16.4544 16.4477 16.4326 16.5004 16.4217 16.5557C16.4108 16.6111 16.4109 16.6681 16.4221 16.7234C16.4333 16.7787 16.4553 16.8312 16.4868 16.878C16.8769 17.4641 17.444 17.9105 18.1054 18.152C17.7071 18.5031 17.4252 18.967 17.2969 19.4822L17.2841 19.5333C17.2704 19.5879 17.2676 19.6446 17.2759 19.7002C17.2842 19.7558 17.3033 19.8093 17.3322 19.8575C17.3611 19.9057 17.3992 19.9478 17.4444 19.9813C17.4896 20.0148 17.5409 20.039 17.5954 20.0527C17.65 20.0663 17.7067 20.0691 17.7623 20.0609C17.8179 20.0526 17.8714 20.0335 17.9196 20.0046C17.9678 19.9756 18.0099 19.9375 18.0434 19.8923C18.0769 19.8472 18.1011 19.7959 18.1148 19.7413L18.1276 19.69C18.2138 19.3435 18.4033 19.0313 18.6709 18.7949C18.9385 18.5584 19.2716 18.4089 19.6261 18.366V25.8364C19.147 25.1907 18.5825 24.613 17.9481 24.1191C17.8584 24.0494 17.7447 24.0183 17.632 24.0324C17.5193 24.0466 17.4169 24.105 17.3473 24.1947C17.2776 24.2844 17.2465 24.3981 17.2607 24.5107C17.2748 24.6234 17.3332 24.7258 17.4229 24.7955C18.3404 25.5101 19.092 26.4151 19.6261 27.4482V32H20.4823V30.017C21.0164 28.9839 21.768 28.0789 22.6855 27.3643C22.7752 27.2947 22.8336 27.1922 22.8477 27.0796C22.8619 26.9669 22.8308 26.8532 22.7611 26.7635C22.6915 26.6738 22.5891 26.6155 22.4764 26.6013C22.3637 26.5871 22.25 26.6183 22.1603 26.6879ZM20.9105 12.3591C20.9105 12.2455 20.9556 12.1366 21.0359 12.0563C21.1162 11.976 21.2251 11.9309 21.3386 11.9309C21.4522 11.9309 21.5611 11.976 21.6414 12.0563C21.7217 12.1366 21.7668 12.2455 21.7668 12.3591V12.7872C21.7668 12.9007 21.7217 13.0096 21.6414 13.0899C21.5611 13.1702 21.4522 13.2153 21.3386 13.2153C21.2251 13.2153 21.1162 13.1702 21.0359 13.0899C20.9556 13.0096 20.9105 12.9007 20.9105 12.7872V12.3591ZM20.625 15.5663C20.7147 15.4859 20.7865 15.3875 20.8357 15.2775C20.8849 15.1675 20.9104 15.0484 20.9105 14.9279V14.4998C20.9105 14.3862 20.9556 14.2773 21.0359 14.197C21.1162 14.1167 21.2251 14.0716 21.3386 14.0716C21.4522 14.0716 21.5611 14.1167 21.6414 14.197C21.7217 14.2773 21.7668 14.3862 21.7668 14.4998V14.9279C21.7666 15.1688 21.7157 15.407 21.6174 15.6269C21.519 15.8468 21.3755 16.0436 21.196 16.2043C21.1112 16.2789 21.0004 16.317 20.8877 16.3103C20.7749 16.3036 20.6694 16.2526 20.5941 16.1685C20.5187 16.0843 20.4797 15.9738 20.4855 15.861C20.4913 15.7482 20.5414 15.6423 20.625 15.5663Z" fill="#7573F3"/>
                      <path d="M16.2008 25.902L15.8246 26.6577C15.5284 27.2523 15.0293 27.7214 14.4174 27.9801C13.8055 28.2389 13.1213 28.2702 12.4883 28.0684L11 27.5937L11.6968 26.1958C11.8964 25.7946 12.1901 25.4476 12.5527 25.1843C12.9154 24.9211 13.3364 24.7494 13.7797 24.6839C14.0459 25.0765 14.4082 25.3945 14.8319 25.6077C15.2557 25.8209 15.7269 25.9222 16.2008 25.902Z" fill="#7573F3"/>
                      <path d="M17.9676 23.5465L18.2967 25.0734L16.7376 25.1651C16.0744 25.2041 15.4191 25.0046 14.8902 24.6027C14.3613 24.2007 13.9936 23.6229 13.8537 22.9735L13.5245 21.4466L15.0837 21.3549C15.7469 21.3159 16.4021 21.5153 16.931 21.9173C17.4599 22.3192 17.8276 22.8971 17.9676 23.5465Z" fill="#7573F3"/>
                      <path d="M29.7177 29.5874L28.2294 30.0621C27.5965 30.2639 26.9122 30.2326 26.3003 29.9739C25.6885 29.7152 25.1893 29.2461 24.8931 28.6514L24.5496 27.9616C24.9656 27.91 25.3647 27.765 25.7169 27.5376C26.0691 27.3102 26.3655 27.0062 26.5838 26.6483C27.0921 26.6578 27.588 26.8066 28.0177 27.0783C28.4474 27.3501 28.7944 27.7344 29.0209 28.1896L29.7177 29.5874Z" fill="#7573F3"/>
                      <path d="M22.1407 25.7721L21.8116 27.2989L23.3708 27.3906C24.0339 27.4297 24.6892 27.2302 25.2181 26.8282C25.747 26.4262 26.1147 25.8483 26.2547 25.1989L26.5838 23.6721L25.0246 23.5804C24.3615 23.5414 23.7062 23.7409 23.1773 24.1428C22.6484 24.5448 22.2807 25.1227 22.1407 25.7721Z" fill="#7573F3"/>
                    </svg>
                    |Сорт цветов может меняться в зависимости от сезона.
                    
                  p.main-slider__additional-information.main-slider__additional-information--warning-icon 
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M20.9015 25.74C20.6482 25.98 20.3482 26.1 20.0015 26.1C19.6548 26.1 19.3548 25.98 19.1015 25.74C18.8482 25.4867 18.7215 25.18 18.7215 24.82C18.7215 24.46 18.8482 24.16 19.1015 23.92C19.3548 23.6667 19.6548 23.54 20.0015 23.54C20.3482 23.54 20.6482 23.6667 20.9015 23.92C21.1548 24.16 21.2815 24.46 21.2815 24.82C21.2815 25.18 21.1548 25.4867 20.9015 25.74ZM19.1015 11.7H20.9415L20.6615 21.96H19.3815L19.1015 11.7Z" fill="#757575"/>
                      <circle cx="20" cy="20" r="19.5" stroke="#A19E9D"/>
                    </svg>
                    |Бесплатная доставка в пределах МКАД!
                  
                  input.information-item(id!=flower.id data-color!=flower.color type="hidden")
                
                .main-slider__picture-block
                  .main-slider__image-wrapper
                    each size in flower.sizes
                      if (size.size === "M")
                        img.main-slider__image(src!=size.urlPicture, alt!=`размер букета ${size.size}`)

                  //- Add Arrows
                  .swiper-button-prev.swiper-button-prev--inside
                    <svg class="arrow-prev-svg" width="32" height="12" viewBox="0 0 32 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M31.5303 6.53033C31.8232 6.23743 31.8232 5.76256 31.5303 5.46967L26.7574 0.696697C26.4645 0.403803 25.9896 0.403803 25.6967 0.696697C25.4038 0.98959 25.4038 1.46446 25.6967 1.75736L29.9393 6L25.6967 10.2426C25.4038 10.5355 25.4038 11.0104 25.6967 11.3033C25.9896 11.5962 26.4645 11.5962 26.7574 11.3033L31.5303 6.53033ZM6.55671e-08 6.75L31 6.75L31 5.25L-6.55671e-08 5.25L6.55671e-08 6.75Z"/>
                    </svg>
                  .swiper-button-next.swiper-button-next--inside
                    <svg class="arrow-next-svg" width="32" height="12" viewBox="0 0 32 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M31.5303 6.53033C31.8232 6.23743 31.8232 5.76256 31.5303 5.46967L26.7574 0.696697C26.4645 0.403803 25.9896 0.403803 25.6967 0.696697C25.4038 0.98959 25.4038 1.46446 25.6967 1.75736L29.9393 6L25.6967 10.2426C25.4038 10.5355 25.4038 11.0104 25.6967 11.3033C25.9896 11.5962 26.4645 11.5962 26.7574 11.3033L31.5303 6.53033ZM6.55671e-08 6.75L31 6.75L31 5.25L-6.55671e-08 5.25L6.55671e-08 6.75Z"/>
                    </svg>

                

                .main-slider__mobile-block
                  p.main-slider__price
                    each size in flower.sizes
                      if (size.size === "M")
                        span.main-slider__old-price #{size.price.oldPrice ? `${size.price.oldPrice} ₽` : ``} 
                        span.main-slider__new-price #{size.price.currentPrice} ₽


                  p.main-slider__additional-information.main-slider__additional-information--flower-icon 
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="20" cy="20" r="19.5" stroke="#7573F3"/>
                      <path d="M21.388 9.82308L21.4242 9.80863V8L19.775 9.04632L20.4275 9.30733C20.766 9.44269 21.0882 9.6157 21.388 9.82308Z" fill="#7573F3"/>
                      <path d="M19.6807 10.506L20.3828 10.2252C20.293 10.1812 20.2023 10.1395 20.1094 10.1021L17.4852 9.05253V12.2529C18.0288 11.4669 18.7927 10.8591 19.6807 10.506Z" fill="#7573F3"/>
                      <path d="M22.1603 26.6879C21.5259 27.1818 20.9614 27.7596 20.4823 28.4053V18.3661C20.8368 18.409 21.17 18.5586 21.4375 18.795C21.7051 19.0314 21.8946 19.3436 21.9808 19.6901C21.9939 19.7453 22.0177 19.7973 22.051 19.8432C22.0843 19.8891 22.1264 19.9279 22.1748 19.9574C22.2233 19.9869 22.2771 20.0065 22.3331 20.015C22.3892 20.0235 22.4463 20.0208 22.5014 20.0071C22.5564 19.9933 22.6081 19.9688 22.6535 19.9349C22.699 19.901 22.7372 19.8584 22.7661 19.8096C22.7949 19.7608 22.8138 19.7067 22.8216 19.6506C22.8294 19.5944 22.826 19.5373 22.8115 19.4825C22.6832 18.9672 22.4012 18.5032 22.0029 18.152C22.6643 17.9105 23.2314 17.4642 23.6215 16.878C23.6837 16.7835 23.7061 16.6682 23.6836 16.5573C23.6611 16.4464 23.5956 16.3489 23.5015 16.2861C23.4074 16.2234 23.2922 16.2004 23.1812 16.2223C23.0702 16.2442 22.9723 16.3091 22.909 16.4029C22.6851 16.7397 22.3812 17.0159 22.0246 17.2067C21.668 17.3976 21.2697 17.4972 20.8653 17.4967C20.807 17.4967 20.7493 17.5086 20.6958 17.5317C20.6692 17.5274 20.6424 17.5234 20.6155 17.5198C21.1847 17.3916 21.6935 17.0737 22.0583 16.6183C22.4231 16.1629 22.6222 15.597 22.623 15.0135V10.2513L19.9989 11.301C19.2554 11.5956 18.6179 12.1074 18.1695 12.7696C17.7212 13.4318 17.4828 14.2138 17.4854 15.0135C17.4862 15.597 17.6853 16.1629 18.0501 16.6183C18.4148 17.0737 18.9236 17.3916 19.4928 17.5198C19.4659 17.5234 19.4392 17.5274 19.4125 17.5317C19.359 17.5086 19.3013 17.4967 19.243 17.4967C18.8386 17.4972 18.4403 17.3976 18.0837 17.2067C17.7271 17.0159 17.4232 16.7397 17.1993 16.4029C17.1682 16.3558 17.1282 16.3153 17.0814 16.2838C17.0347 16.2522 16.9821 16.2302 16.9268 16.219C16.8715 16.2077 16.8146 16.2076 16.7592 16.2185C16.7039 16.2293 16.6512 16.251 16.6043 16.2823C16.5573 16.3136 16.517 16.3539 16.4857 16.4008C16.4544 16.4477 16.4326 16.5004 16.4217 16.5557C16.4108 16.6111 16.4109 16.6681 16.4221 16.7234C16.4333 16.7787 16.4553 16.8312 16.4868 16.878C16.8769 17.4641 17.444 17.9105 18.1054 18.152C17.7071 18.5031 17.4252 18.967 17.2969 19.4822L17.2841 19.5333C17.2704 19.5879 17.2676 19.6446 17.2759 19.7002C17.2842 19.7558 17.3033 19.8093 17.3322 19.8575C17.3611 19.9057 17.3992 19.9478 17.4444 19.9813C17.4896 20.0148 17.5409 20.039 17.5954 20.0527C17.65 20.0663 17.7067 20.0691 17.7623 20.0609C17.8179 20.0526 17.8714 20.0335 17.9196 20.0046C17.9678 19.9756 18.0099 19.9375 18.0434 19.8923C18.0769 19.8472 18.1011 19.7959 18.1148 19.7413L18.1276 19.69C18.2138 19.3435 18.4033 19.0313 18.6709 18.7949C18.9385 18.5584 19.2716 18.4089 19.6261 18.366V25.8364C19.147 25.1907 18.5825 24.613 17.9481 24.1191C17.8584 24.0494 17.7447 24.0183 17.632 24.0324C17.5193 24.0466 17.4169 24.105 17.3473 24.1947C17.2776 24.2844 17.2465 24.3981 17.2607 24.5107C17.2748 24.6234 17.3332 24.7258 17.4229 24.7955C18.3404 25.5101 19.092 26.4151 19.6261 27.4482V32H20.4823V30.017C21.0164 28.9839 21.768 28.0789 22.6855 27.3643C22.7752 27.2947 22.8336 27.1922 22.8477 27.0796C22.8619 26.9669 22.8308 26.8532 22.7611 26.7635C22.6915 26.6738 22.5891 26.6155 22.4764 26.6013C22.3637 26.5871 22.25 26.6183 22.1603 26.6879ZM20.9105 12.3591C20.9105 12.2455 20.9556 12.1366 21.0359 12.0563C21.1162 11.976 21.2251 11.9309 21.3386 11.9309C21.4522 11.9309 21.5611 11.976 21.6414 12.0563C21.7217 12.1366 21.7668 12.2455 21.7668 12.3591V12.7872C21.7668 12.9007 21.7217 13.0096 21.6414 13.0899C21.5611 13.1702 21.4522 13.2153 21.3386 13.2153C21.2251 13.2153 21.1162 13.1702 21.0359 13.0899C20.9556 13.0096 20.9105 12.9007 20.9105 12.7872V12.3591ZM20.625 15.5663C20.7147 15.4859 20.7865 15.3875 20.8357 15.2775C20.8849 15.1675 20.9104 15.0484 20.9105 14.9279V14.4998C20.9105 14.3862 20.9556 14.2773 21.0359 14.197C21.1162 14.1167 21.2251 14.0716 21.3386 14.0716C21.4522 14.0716 21.5611 14.1167 21.6414 14.197C21.7217 14.2773 21.7668 14.3862 21.7668 14.4998V14.9279C21.7666 15.1688 21.7157 15.407 21.6174 15.6269C21.519 15.8468 21.3755 16.0436 21.196 16.2043C21.1112 16.2789 21.0004 16.317 20.8877 16.3103C20.7749 16.3036 20.6694 16.2526 20.5941 16.1685C20.5187 16.0843 20.4797 15.9738 20.4855 15.861C20.4913 15.7482 20.5414 15.6423 20.625 15.5663Z" fill="#7573F3"/>
                      <path d="M16.2008 25.902L15.8246 26.6577C15.5284 27.2523 15.0293 27.7214 14.4174 27.9801C13.8055 28.2389 13.1213 28.2702 12.4883 28.0684L11 27.5937L11.6968 26.1958C11.8964 25.7946 12.1901 25.4476 12.5527 25.1843C12.9154 24.9211 13.3364 24.7494 13.7797 24.6839C14.0459 25.0765 14.4082 25.3945 14.8319 25.6077C15.2557 25.8209 15.7269 25.9222 16.2008 25.902Z" fill="#7573F3"/>
                      <path d="M17.9676 23.5465L18.2967 25.0734L16.7376 25.1651C16.0744 25.2041 15.4191 25.0046 14.8902 24.6027C14.3613 24.2007 13.9936 23.6229 13.8537 22.9735L13.5245 21.4466L15.0837 21.3549C15.7469 21.3159 16.4021 21.5153 16.931 21.9173C17.4599 22.3192 17.8276 22.8971 17.9676 23.5465Z" fill="#7573F3"/>
                      <path d="M29.7177 29.5874L28.2294 30.0621C27.5965 30.2639 26.9122 30.2326 26.3003 29.9739C25.6885 29.7152 25.1893 29.2461 24.8931 28.6514L24.5496 27.9616C24.9656 27.91 25.3647 27.765 25.7169 27.5376C26.0691 27.3102 26.3655 27.0062 26.5838 26.6483C27.0921 26.6578 27.588 26.8066 28.0177 27.0783C28.4474 27.3501 28.7944 27.7344 29.0209 28.1896L29.7177 29.5874Z" fill="#7573F3"/>
                      <path d="M22.1407 25.7721L21.8116 27.2989L23.3708 27.3906C24.0339 27.4297 24.6892 27.2302 25.2181 26.8282C25.747 26.4262 26.1147 25.8483 26.2547 25.1989L26.5838 23.6721L25.0246 23.5804C24.3615 23.5414 23.7062 23.7409 23.1773 24.1428C22.6484 24.5448 22.2807 25.1227 22.1407 25.7721Z" fill="#7573F3"/>
                    </svg>
                    |Сорт цветов может меняться в зависимости от сезона.
                    
                  p.main-slider__additional-information.main-slider__additional-information--warning-icon 
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M20.9015 25.74C20.6482 25.98 20.3482 26.1 20.0015 26.1C19.6548 26.1 19.3548 25.98 19.1015 25.74C18.8482 25.4867 18.7215 25.18 18.7215 24.82C18.7215 24.46 18.8482 24.16 19.1015 23.92C19.3548 23.6667 19.6548 23.54 20.0015 23.54C20.3482 23.54 20.6482 23.6667 20.9015 23.92C21.1548 24.16 21.2815 24.46 21.2815 24.82C21.2815 25.18 21.1548 25.4867 20.9015 25.74ZM19.1015 11.7H20.9415L20.6615 21.96H19.3815L19.1015 11.7Z" fill="#757575"/>
                      <circle cx="20" cy="20" r="19.5" stroke="#A19E9D"/>
                    </svg>
                    |Бесплатная доставка в пределах МКАД!


                .main-slider__description-block
                  p.main-slider__description #{flower.description}

      //- 
      .hero-image__controls-size.calculator
        ul.calculator__list-size
          li.calculator__item-size
            label.calculator__label-size(for = "S")
              input.calculator__input-size(type = "radio" name = "size" id = "S" value = "S")
                  
              span.calculator__checkmark-size S
            
          li.calculator__item-size
            label.calculator__label-size(for = "M")
              input.calculator__input-size(type = "radio" name = "size" id = "M" value = "M" checked)
                  
              span.calculator__checkmark-size M

          li.calculator__item-size
            label.calculator__label-size(for = "L")
              input.calculator__input-size(type = "radio" name = "size" id = "L" value = "L")
                  
              span.calculator__checkmark-size L

      //- Swiper Thumb
      .gallery-thumbs.swiper-container
        .swiper-wrapper
          each flower, index in flowers
            .swiper-slide.wrapper-add-item
              button.swiper-slide__pagination(class=`button-add-item swiper-slide__pagination--${flower.color}` data-color=`${flower.color}`)  
                |В корзину
                <svg class="swiper-slide__svg-basket" width="16" height="19" viewBox="0 0 16 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path class="swiper-slide__svg-backpage" d="M2.5252 6.74452C2.64931 6.02511 3.27333 5.49951 4.00337 5.49951H11.9966C12.7267 5.49951 13.3507 6.02511 13.4748 6.74452L15.1036 16.1868C15.2618 17.1036 14.5558 17.9418 13.6255 17.9418H2.37455C1.44419 17.9418 0.738224 17.1036 0.896378 16.1868L2.5252 6.74452Z" fill="white" stroke="white"/>
                  <path class="swiper-slide__svg-stripe" d="M10.5 9V3.5C10.5 2.11929 9.38071 1 8 1V1C6.61929 1 5.5 2.11929 5.5 3.5V9" stroke="white" stroke-linecap="round"/>
                </svg>

      .hero-image__label
        h1.hero-image__main-title HEYDAY


  //- BLOCK-SALE
  //- section.main__sale.sale-block
  //-   .sale-block__container.container
  //-     .sale-block__description

  //-       h2.sale-block__title
  //-         |Заголовок  <br>
  //-         |о скидке
        
  //-       p.sale-block__description-text
  //-         | Текст о карте композиции «HeyDay» составлены только из свежесрезанных цветов, поэтому простоят в вазе до двух недель.
        
  //-       ul.sale-block__list-card
  //-         each li in [0, 1, 2]
  //-           li.sale-block__item-card
  //-             span.sale-block__item-svg
  //-               <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
  //-                 <rect x="0.5" y="0.5" width="34" height="34" />
  //-                 <line x1="0.353553" y1="0.646447" x2="34.3535" y2="34.6464" />
  //-                 <line x1="34.3536" y1="0.353553" x2="0.353555" y2="34.3535" />
  //-               </svg>

  //-             |Текст о карте композиции «HeyDay» 
        
  //-       .sale-block__controls
  //-         button.sale-block__call-card.button
  //-           |Заказать карту

  //-     .sale-block__picture 
  //-       img.sale-block__image(src="./assets/img/1.png", alt="Заголовок о скидке")
  

  //- FEATURES
  section.main__features.features#scrollLabelTarget
    .features__container.container
      ul.features__list
          li.features__item
            h2.features__title 2
              span.features__title--sub часа
            
            p.features__description 
              |Бесплатная доставка <br>
              |по Москве в течение двух часов

          li.features__item
            h2.features__title 365
              span.features__title--sub дней
            
            p.features__description 
              |Фиксированные цены круглый год

          li.features__item
            h2.features__title 10
              span.features__title--sub баллов
            
            p.features__description 
              |Гарантия качества — только свежие цветы

          li.features__item
            h2.features__title 24/7
              span.features__title--sub режим 
            
            p.features__description 
              |Доступность в круглосуточном режиме

          li.features__item
            h2.features__title 2
              span.features__title--sub клика
            
            p.features__description 
              |Заказ букета за пару кликов

  //- FORM
  section.main__form.main-form
    .main-form__container.container
      form.form#main-form

        .form__wrapper-title
          h2.form__title Выполнение индивидуальных заказов любой сложности
          <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.3741 4.77039C12.6669 6.06316 14.1517 7.04679 15.7368 7.7213C16.0877 7.87066 16.0877 8.42121 15.7368 8.57057C14.1517 9.2451 12.6669 10.2288 11.3741 11.5215C10.0821 12.8135 9.09885 14.2974 8.42437 15.8814C8.27498 16.2323 7.72467 16.2322 7.57532 15.8814C6.9008 14.2967 5.91731 12.8122 4.62481 11.5197C3.33232 10.2272 1.84783 9.24372 0.263173 8.56921C-0.0876992 8.41986 -0.0877324 7.86955 0.263121 7.72015C1.84713 7.04568 3.331 6.06242 4.62302 4.77039C5.91577 3.47765 6.89944 1.9928 7.57396 0.407753C7.72332 0.0567887 8.27388 0.0567912 8.42323 0.407757C9.09774 1.9928 10.0814 3.47763 11.3741 4.77039Z" />
          </svg>


        .form__wrapper-input
          input.form__input(id="formName" type="text" minlength="1" maxlength="40" required)
          label.form__label(for="formName") Имя
          .form__bar


        .form__wrapper-input
          input.form__input(id="formEmail" type="email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" required)
          label.form__label(for="formEmail") E-mail
          .form__bar


        .form__wrapper-input
          input.form__input(id="formPhone" type="tel" required)
          label.form__label(for="formPhone") Телефон
          .form__bar


        .form__wrapper-controls
          button.form__button.button Оставить заявку

  //- Instagram
  section.social-gallery
    .social-gallery__container
      .social-gallery__wrapper-title
        h2.social-gallery__title Мы в Instagram
        a(href="https://www.instagram.com/heyday.moscow/").social-gallery__link.button 
          |Подписаться 
  
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.47903 6.65937C13.1907 6.78946 16 7.40011 16 8.13379C16 8.86808 13.186 9.47915 9.46967 9.60853C9.33007 13.2559 8.72512 16 8 16C7.27488 16 6.66993 13.2559 6.53033 9.60853C2.81401 9.47915 0 8.86808 0 8.13379C0 7.40011 2.80928 6.78946 6.52097 6.65937C6.64055 2.87934 7.25723 0 8 0C8.74277 0 9.35945 2.87934 9.47903 6.65937Z" fill="white"/>
          </svg>

      .social-gallery__wrapper-lists        
        ul.social-gallery__list#instafeed
          //- each item, index in socialList
          //-   li.social-gallery__item(class=`social-gallery__item--${index}`)
          //-     img.social-gallery__image(src=`./assets/img/gallery/${item}`, alt=item)

  //- Delivery
  section.shipping#shipping
    .shipping__container.container
      h2.shipping__title Доставка и оплата

      .shipping__wrapper-description
        .shipping__description.shipping__description--pickup
          h3.shipping__description-title 
            | Самовывоз:
          
          p.shipping__description-text 
            | Вы можете забрать букет самостоятельно в нашем магазине по адресу: Москва, ул. Тверская, 4 (Вход магазина LUSH), ежедневно с 10:00 до 22:00. Пожалуйста, позвоните нам за некоторое время до приезда, чтобы мы успели подготовить для Вас букет.
        
        .shipping__description.shipping__description--pay
          h3.shipping__description-title 
            | Оплата:
          
          ul.shipping__description-list
            li.shipping__description-item
              <svg width="10" height="10" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.3741 4.77039C12.6669 6.06316 14.1517 7.04679 15.7368 7.7213C16.0877 7.87066 16.0877 8.42121 15.7368 8.57057C14.1517 9.2451 12.6669 10.2288 11.3741 11.5215C10.0821 12.8135 9.09885 14.2974 8.42437 15.8814C8.27498 16.2323 7.72467 16.2322 7.57532 15.8814C6.9008 14.2967 5.91731 12.8122 4.62481 11.5197C3.33232 10.2272 1.84783 9.24372 0.263173 8.56921C-0.0876992 8.41986 -0.0877324 7.86955 0.263121 7.72015C1.84713 7.04568 3.331 6.06242 4.62302 4.77039C5.91577 3.47765 6.89944 1.9928 7.57396 0.407753C7.72332 0.0567887 8.27388 0.0567912 8.42323 0.407757C9.09774 1.9928 10.0814 3.47763 11.3741 4.77039Z" />
              </svg>
              | Наличными при получении заказа  

            li.shipping__description-item
              <svg width="10" height="10" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.3741 4.77039C12.6669 6.06316 14.1517 7.04679 15.7368 7.7213C16.0877 7.87066 16.0877 8.42121 15.7368 8.57057C14.1517 9.2451 12.6669 10.2288 11.3741 11.5215C10.0821 12.8135 9.09885 14.2974 8.42437 15.8814C8.27498 16.2323 7.72467 16.2322 7.57532 15.8814C6.9008 14.2967 5.91731 12.8122 4.62481 11.5197C3.33232 10.2272 1.84783 9.24372 0.263173 8.56921C-0.0876992 8.41986 -0.0877324 7.86955 0.263121 7.72015C1.84713 7.04568 3.331 6.06242 4.62302 4.77039C5.91577 3.47765 6.89944 1.9928 7.57396 0.407753C7.72332 0.0567887 8.27388 0.0567912 8.42323 0.407757C9.09774 1.9928 10.0814 3.47763 11.3741 4.77039Z" />
              </svg>
              | Банковской картой Visa, Mastercard, Сбербанк Онлайн, Электронными деньгами Яндекс деньги, Qiwi кошелек.      	

          .shipping__wrapper-pays

              //- visa 
              .shipping__pay
                img(src="./assets/img/icons/visa.svg", alt="Visa")
              
              //- mastercard
              .shipping__pay
                img(src="./assets/img/icons/mastercard.svg", alt="mastercard")
              

              //- qiwi
              .shipping__pay
                img(src="./assets/img/icons/qiwi.svg", alt="qiwi")

              //- ya-money
              .shipping__pay
                img(src="./assets/img/icons/ya-money.svg", alt="ya-money")

              //- gpay
              .shipping__pay
                img(src="./assets/img/icons/gpay.svg", alt="gpay")


              //- applepay
              .shipping__pay
                img(src="./assets/img/icons/applepay.svg", alt="applepay")

              //- sber
              .shipping__pay
                img(src="./assets/img/icons/sber.svg", alt="sber")


        .shipping__description.shipping__description--delivery
          h3.shipping__description-title 
            | Доставка в пределах МКАД:

          ul.shipping__description-list
            li.shipping__description-item
              <svg width="10" height="10" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.3741 4.77039C12.6669 6.06316 14.1517 7.04679 15.7368 7.7213C16.0877 7.87066 16.0877 8.42121 15.7368 8.57057C14.1517 9.2451 12.6669 10.2288 11.3741 11.5215C10.0821 12.8135 9.09885 14.2974 8.42437 15.8814C8.27498 16.2323 7.72467 16.2322 7.57532 15.8814C6.9008 14.2967 5.91731 12.8122 4.62481 11.5197C3.33232 10.2272 1.84783 9.24372 0.263173 8.56921C-0.0876992 8.41986 -0.0877324 7.86955 0.263121 7.72015C1.84713 7.04568 3.331 6.06242 4.62302 4.77039C5.91577 3.47765 6.89944 1.9928 7.57396 0.407753C7.72332 0.0567887 8.27388 0.0567912 8.42323 0.407757C9.09774 1.9928 10.0814 3.47763 11.3741 4.77039Z" />
              </svg>
              | Бесплатно при размере букета М

            li.shipping__description-item
              <svg width="10" height="10" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.3741 4.77039C12.6669 6.06316 14.1517 7.04679 15.7368 7.7213C16.0877 7.87066 16.0877 8.42121 15.7368 8.57057C14.1517 9.2451 12.6669 10.2288 11.3741 11.5215C10.0821 12.8135 9.09885 14.2974 8.42437 15.8814C8.27498 16.2323 7.72467 16.2322 7.57532 15.8814C6.9008 14.2967 5.91731 12.8122 4.62481 11.5197C3.33232 10.2272 1.84783 9.24372 0.263173 8.56921C-0.0876992 8.41986 -0.0877324 7.86955 0.263121 7.72015C1.84713 7.04568 3.331 6.06242 4.62302 4.77039C5.91577 3.47765 6.89944 1.9928 7.57396 0.407753C7.72332 0.0567887 8.27388 0.0567912 8.42323 0.407757C9.09774 1.9928 10.0814 3.47763 11.3741 4.77039Z" />
              </svg>
              | 300 рублей – для букетов размером S, XS&nbsp;+&nbsp;100&nbsp;рублей за километр за пределами МКАД

            li.shipping__description-item
              <svg width="10" height="10" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.3741 4.77039C12.6669 6.06316 14.1517 7.04679 15.7368 7.7213C16.0877 7.87066 16.0877 8.42121 15.7368 8.57057C14.1517 9.2451 12.6669 10.2288 11.3741 11.5215C10.0821 12.8135 9.09885 14.2974 8.42437 15.8814C8.27498 16.2323 7.72467 16.2322 7.57532 15.8814C6.9008 14.2967 5.91731 12.8122 4.62481 11.5197C3.33232 10.2272 1.84783 9.24372 0.263173 8.56921C-0.0876992 8.41986 -0.0877324 7.86955 0.263121 7.72015C1.84713 7.04568 3.331 6.06242 4.62302 4.77039C5.91577 3.47765 6.89944 1.9928 7.57396 0.407753C7.72332 0.0567887 8.27388 0.0567912 8.42323 0.407757C9.09774 1.9928 10.0814 3.47763 11.3741 4.77039Z" />
              </svg>
              | за километр за пределами МКАД

  section.main__map.map
    .map__container 
      .map__contacts
        .map__wrapper-information#contacts
          h2.map__title Контакты
          .map__information
            .map__links-wrapper
              h3.map__information-title Связаться с нами:
              
              a(href="tel:+79100094784").map__information-link +7 910 009-47-84
              a(href="mailto:info@heyday.store").map__information-link info@heyday.store

            .map__time-wrapper
              h3.map__information-title Время работы:

              p.map__information-time Ежедневно с 10:00 до 22:00

            .map__address-wrapper
              h3.map__information-title Адрес:

              p.map__information-address 
                |Москва, Тверская, 4 <br>
                |(Вход магазина LUSH)

            .map__metro-wrapper
              h3.map__information-title Ближайшие станции метро:

              ul.map__information-metro
                li.map__information-metro-item.map__information-metro-item--red
                  <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.00019 0C4.02963 0 0 4.19304 0 9.36547C0 12.1701 1.17422 13.9992 1.17422 13.9992L16.8224 14C16.8224 14 18 12.001 18 9.36528C18 4.19304 13.9704 0 9.00019 0ZM16.1623 12.8591L1.86658 12.8526C1.86658 12.8526 1.10482 11.3657 1.10482 9.33593C1.10482 4.80249 4.65314 1.12714 9.03036 1.12714C13.4074 1.12714 16.9559 4.80229 16.9559 9.33593C16.9561 11.3886 16.1623 12.8591 16.1623 12.8591Z" />
                    <path d="M11.544 2.48699L11.431 2.4868L9.0303 7.33575L6.54323 2.44539L3.13805 11.28H2.25804V11.9895H7.07904V11.28H6.12246L7.07904 8.51888L9.0303 11.9895L10.9052 8.51888L11.8616 11.28H10.9052V11.9895H15.6877V11.28H14.8592L11.544 2.48699Z"/>
                  </svg>
                  |Охотный ряд (4 минуты от метро)

                li.map__information-metro-item.map__information-metro-item--green
                  <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.00019 0C4.02963 0 0 4.19304 0 9.36547C0 12.1701 1.17422 13.9992 1.17422 13.9992L16.8224 14C16.8224 14 18 12.001 18 9.36528C18 4.19304 13.9704 0 9.00019 0ZM16.1623 12.8591L1.86658 12.8526C1.86658 12.8526 1.10482 11.3657 1.10482 9.33593C1.10482 4.80249 4.65314 1.12714 9.03036 1.12714C13.4074 1.12714 16.9559 4.80229 16.9559 9.33593C16.9561 11.3886 16.1623 12.8591 16.1623 12.8591Z" />
                    <path d="M11.544 2.48699L11.431 2.4868L9.0303 7.33575L6.54323 2.44539L3.13805 11.28H2.25804V11.9895H7.07904V11.28H6.12246L7.07904 8.51888L9.0303 11.9895L10.9052 8.51888L11.8616 11.28H10.9052V11.9895H15.6877V11.28H14.8592L11.544 2.48699Z" />
                  </svg>
                  |Театральная (13 минут от метро)
                
      .map__picture#main-map

  script(src="https://ig.instant-tokens.com/users/8d75d01c-6211-473c-b8a9-017d0b7f583a/instagram/17841412107161776/token.js?userSecret=9okqcagspje906fegfra2u")

  
  //- Button-top
  +buttonTop("hero-image")

  //- templates 
  include ../templates/button-size/button-size.pug
  include ../templates/popup-basket/popup-basket.pug
  include ../templates/popup-success/popup-success.pug